@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: Lato !important;
}

body,
html {
  flex: 1;
  background: #eee;
}

.compWrap {
  display: block;
  max-width: 480px;
  padding: 12px 16px;
  margin: 12px;
  background: #fff;
  border: 1px solid #ccc;
}

.compWrap h1 {
  margin: 0;
  padding: 0;
}

.compWrap button {
  margin: 6px;
  outline: 0;
  background: #014979;
  color: #fff;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
}

.mover {
  position: absolute;
  background: #333;
  color: white;
  padding: 12px;
  font-size: 14px;
}
